<h1>User Index page</h1>
<p> this is the user index page </p>

<%# display all the users in the database %>
<% @users.each do |user| %>
  <div>
    <%= image_tag user.photo%>
    <%= link_to user_path(user.id) do %>
        <button><%= user.name %> Posts: <%= user.posts_counter%></button>
    <% end %>
  </div>
<% end %>


