<%# render 2 buttons home and create %>

<div class="abtns">
    <button class="btn"><%= link_to 'Home', root_path, class: "btn-text" %></button>
    <button class="btn"><%= link_to 'Create Post', new_post_path, class: "btn-text" %></button>
</div>
